**/__pycache__/**/*

# uv / local virtualenv
.venv/

# ignore data folder
data/

# trained model checkpoints / runs (large binaries)
trainings_runs/



# ignore notebooks
*.ipynb
.ipynb_checkpoints/
*-checkpoint.py